.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.brandlink {
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brandlink.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 140px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body-contact {
  overflow: hidden;
  background-color: #1e1e1e;
  font-family: 'Comic Neue', sans-serif;
  color: #fff;
  letter-spacing: 0px;
}

.submit-button {
  display: inline-block;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 40px;
  float: right;
  border: 4px solid #1e1e1e;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 2px 2px 0 0 #fff;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.submit-button:hover {
  background-color: #83ff83;
}

.submit-button:active {
  border-color: #fff;
  background-color: #1e1e1e;
  box-shadow: 2px 2px 0 0 #fff;
  color: #fff;
}

.text-field {
  margin-bottom: 15px;
  border-style: solid;
  border-width: 0px;
  border-color: #a57bff;
  border-radius: 10px;
}

.text-field-2 {
  margin-bottom: 15px;
  border: 0px solid #1e1e1e;
  border-radius: 10px;
}

.textarea {
  margin-bottom: 15px;
  border: 0px solid #1e1e1e;
  border-radius: 10px;
}

.field-label {
  margin-bottom: 5px;
}

.form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-contact {
  max-width: 900px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}

.portfolio {
  display: block;
  margin-top: 100px;
  background-color: transparent;
}

.portfolio-options {
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-radius: 10px;
  background-color: transparent;
}

.footer {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: auto;
  z-index: auto;
  margin-top: 80px;
  padding: 40px 30px;
  border-top: 1px solid #fff;
  border-bottom: 0px solid #e4ebf3;
  background-color: #1e1e1e;
  letter-spacing: 0.5px;
}

.container-footer-links {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin: 10px auto 20px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-content {
  display: -ms-grid;
  display: grid;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-areas: ".";
  -ms-grid-columns: auto 70px auto 70px 1fr;
  grid-template-columns: auto auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-copyright-center {
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.footer-p {
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.footer-link {
  outline-color: #00e;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  color: #4973ff;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.footer-link:active {
  color: #4d4d4d;
}

.image-3 {
  -webkit-filter: contrast(130%);
  filter: contrast(130%);
}

.image-4 {
  -webkit-filter: contrast(120%);
  filter: contrast(120%);
}

.margin-bottom-24px-2 {
  margin-top: 0px;
  margin-bottom: 24px;
  color: #fff;
  text-align: left;
  letter-spacing: 0.5px;
}

.shadow-two {
  border: 4px solid #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 24px 0 rgba(150, 163, 181, 0.08);
}

.body-about {
  overflow: hidden;
  background-color: #1e1e1e;
  font-family: 'Comic Neue', sans-serif;
  color: #fff;
}

.skill {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 0px;
  color: #1e1e1e;
  text-align: center;
  letter-spacing: 0.5px;
}

.hero-about {
  position: relative;
  padding: 80px 30px;
  border-bottom: 0px solid #e4ebf3;
  background-color: transparent;
}

.container-about-hero {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  color: #1e1e1e;
}

.hero-about-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 750px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero-image {
  width: 100%;
  margin-top: 50px;
}

.hero-image.shadow-two {
  margin-bottom: 50px;
  border-width: 5px;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}

.bold-text {
  text-align: left;
}

.container-skill {
  width: 100%;
  max-width: 1200px;
  margin-top: 140px;
  margin-right: auto;
  margin-left: auto;
}

.hero-wrapper-two-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.margin-bottom-24px-4 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 0px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.hero-image-2 {
  width: 100%;
  margin-top: 50px;
}

.hero-image-2.shadow-two {
  display: block;
  border-width: 5px;
  border-color: #fff;
  box-shadow: 4px 4px 0 0 #fff;
}

.centered-heading {
  margin-bottom: 16px;
  color: #fff;
  text-align: left;
}

.skill-slider-wrapper {
  display: block;
  height: auto;
  margin-top: 50px;
  background-color: transparent;
}

.skill-slide-wrapper {
  width: 30%;
  margin-right: 5%;
}

.core-block {
  position: static;
  display: block;
  padding-bottom: 24px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: solid;
  border-width: 0px;
  border-color: #a57bff;
  border-radius: 10px;
  background-color: #fff;
}

.core-skill-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 24px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.core-skill-name-two {
  margin-bottom: 15px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 22px;
  font-weight: 600;
}

.core-skill-text {
  position: static;
  display: block;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.skill-slider-arrow {
  display: none;
}

.skill-slider-nav {
  position: static;
  bottom: -60px;
  margin-top: 24px;
  background-color: transparent;
  font-size: 10px;
}

.mask {
  background-color: transparent;
}

.navbar-logo-left {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999;
  border-bottom: 1px solid #fff;
  background-color: #1e1e1e;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 20px;
  background-color: transparent;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-brand {
  overflow: visible;
  max-height: 70%;
  max-width: 70%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.nav-link-2 {
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.nav-link-2:hover {
  outline-color: #fff;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  color: #fffd86;
}

.nav-link-2:active {
  color: #4e4e4e;
}

.nav-link-2:focus-visible {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-link-2[data-wf-focus-visible] {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-divider {
  width: 2px;
  height: 22px;
  margin-right: 30px;
  margin-left: 15px;
  background-color: #1e1e1e;
  color: #1e1e1e;
}

.mobile-margin-top-10 {
  border-right: 0px solid #fff;
  border-bottom: 0px solid #fff;
  outline-color: #1e1e1e;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.resume-button {
  padding: 12px 25px;
  border-style: solid;
  border-width: 4px;
  border-color: #1e1e1e;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 3px 3px 0 0 #fff;
  outline-color: #1e1e1e;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #1e1e1e;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: none;
  mix-blend-mode: normal;
}

.resume-button:hover {
  border-color: #fff;
  background-color: #4973ff;
  outline-color: #83ff83;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  color: #fff;
  text-decoration: none;
}

.resume-button:active {
  border-color: #fff;
  background-color: #1e1e1e;
  outline-color: #83ff83;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  color: #fff;
}

.home-hero {
  margin-top: 0px;
  padding-top: 100px;
}

.body-case-study-1 {
  font-family: 'Comic Neue', sans-serif;
  color: #1e1e1e;
  letter-spacing: 0.5px;
}

.container-hero-home {
  width: 100%;
  max-width: 1200px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  text-align: center;
}

.container-footer-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
}

.container-footer-text {
  max-width: 1200px;
}

.container-portfolio {
  max-width: 1200px;
}

.heading-2 {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.contact {
  overflow: visible;
  margin-top: 140px;
  margin-bottom: 40px;
  padding-top: 0px;
}

.image-5 {
  border-radius: 10px;
  box-shadow: 8px 8px 0 0 #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image-6 {
  margin-bottom: 15px;
  padding-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.image-7 {
  display: block;
  margin-bottom: 15px;
  padding-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.image-8 {
  margin-bottom: 15px;
  padding-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.image-9 {
  display: block;
  margin-bottom: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: left;
}

.container {
  max-width: 1200px;
  padding-bottom: 140px;
}

.body {
  overflow: hidden;
  background-color: #1e1e1e;
  font-family: 'Comic Neue', sans-serif;
  color: #fff;
  letter-spacing: 0.5px;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading-3 {
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .brandlink.w--current {
    margin-right: 350px;
  }

  .container-contact {
    padding-right: 10px;
    padding-left: 10px;
  }

  .portfolio {
    display: block;
  }

  .portfolio-options {
    color: #1e1e1e;
  }

  .footer {
    margin-top: 60px;
  }

  .container-footer-links {
    max-width: 728px;
  }

  .footer-wrapper {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .footer-content {
    padding-top: 5px;
    padding-bottom: 5px;
    grid-column-gap: 60px;
  }

  .footer-p {
    margin-bottom: 0px;
  }

  .skill {
    margin-right: 0px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
  }

  .container-about-hero {
    max-width: 728px;
  }

  .container-skill {
    max-width: 728px;
  }

  .skill-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .nav-menu-wrapper {
    background-color: transparent;
  }

  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    padding: 20px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
    background-color: #fff;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.57);
  }

  .nav-link-2 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .menu-button-2 {
    padding: 12px;
    border-radius: 5px;
  }

  .menu-button-2.w--open {
    padding: 10px;
    border: 1px none #000;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
  }

  .home-hero {
    background-color: #fff;
  }

  .container-hero-home {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .brandlink.w--current {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 140px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .portfolio-options {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .footer {
    margin-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-wrapper {
    margin-top: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-content {
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    grid-row-gap: 22px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-p {
    margin-bottom: 0px;
  }

  .hero-about {
    padding: 60px 15px;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0px;
  }

  .nav-menu {
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 0px 0px 5px 5px;
  }

  .nav-link-2 {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .menu-button-2 {
    padding: 10px;
  }

  .menu-button-2.w--open {
    padding: 10px;
  }
}

@media screen and (max-width: 479px) {
  .brandlink {
    overflow: visible;
    width: 85.622329711914%;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .brandlink.w--current {
    margin-right: 0px;
  }

  .container-contact {
    padding-right: 10px;
    padding-left: 10px;
  }

  .portfolio-options {
    padding: 20px 0px;
    justify-items: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    grid-auto-flow: row;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr auto auto auto;
    grid-template-rows: 1fr auto auto auto;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .footer {
    margin-top: 40px;
  }

  .container-footer-links {
    max-width: none;
  }

  .container-about-hero {
    max-width: none;
  }

  .container-skill {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .skill-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .menu-button-2 {
    padding: 5px;
  }

  .menu-button-2.w--open {
    padding: 5px;
  }

  .container-hero-home {
    max-width: none;
  }
}

#w-node-_144f5aef-5405-675c-9075-633e91e90f61-5a8acccb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-dafafe29-5f4c-b379-b80f-961712212d1a-12212d13 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-dafafe29-5f4c-b379-b80f-961712212d1c-12212d13 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_4ae9f75c-2998-39d6-0c92-f2cd4fa6a573-5a8acccb {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_2de8a903-a6d4-84dc-0fce-66b08f854aa2-5a8acccb {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_57f73a3b-cfbb-dc37-4bb6-a371f098c057-5a8acccb {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

